:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #002b5d;
  --second-brand-color: #6d9fcb;
  --third-brand-color: #eef7ff;
  --fourth-brand-color: #ff0000;



  --main-font:  'Dosis';
  --title-font:  'Dosis Medium';
  --main-title-font: 'Amatic SC';

  font-size: 62.5%;
}
